
body {
  background-color: #efebeb;
  height: 100vh;
}


.hero {
  background-color: #efebeb;
  background-image: url('https://i.imgur.com/3b3aQf3.png');
  background-size: 100%
}

.has-text-light {
  text-shadow: 1px 1px black;
}

.shade-box {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 5px;
}

.category-header {
  font-size: 60px;
  margin-bottom: 20px;
}

.teal-text {
  color: teal
}

.category-card {
  height: 420px;
}

.article-card {
  max-width: 600px !important;
}

.overlay {
  position: absolute
}

.tile {
  background-size: cover;
  background-repeat: no-repeat;
}


a {
  color: white !important;
}

//This is all styling for the article page
.articleBox {
  display: flex;
  flex-direction: row;

}
#readmorelink {
  color: black
}


.textitem {
  padding: 10px
}
.articlepicture {
  padding: 15px 10px 10px 10px
}

#readmorelink {
  color: black !important;
}
#articleSubtitle {
  margin: 5px 10px 5px 10px;
}

#articleButton {
  margin: 10px;
}

#articleTitle {
  margin: 10px;
}

//End of styling for the article page