// background dark grey: #595f6c
// teal logo light: #70acb1
// background cream: #eeeeee
// teal logo bright: #4daab3


body {
  height: 100vh;
  background-color: #efebeb;
  background-size: cover;
}


.hero {
  background-color: #eeeeee;
  background-size: 100%;
}

.has-text-light {
  text-shadow: 1px 1px black;
}

.shade-box {
  background: rgba(0, 0, 0, 0.3);
  padding: 15px;
  border-radius: 5px;
}

.category-header {
  font-size: 60px;
  margin-bottom: 20px;
}

.teal-text {
  color: #4daab3;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.category-card {
  height: 420px;
}

.article-card {
  max-width: 750px !important;
}

.overlay {
  position: absolute
}

.tile {
  background-size: cover;
  background-repeat: no-repeat;
}


a {
  color: #4daab3 !important;
}


//This is all styling for the article page
.articleBox {
  display: flex;
  flex-direction: row;

}
#readmorelink {
  font-weight: bold;
}


.textitem {
  padding: 10px
}
.articlepicture {
  padding: 15px 10px 10px 10px
}

#articleSubtitle {
  margin: 5px 10px 5px 10px;
}

#articleButton {
  margin: 10px;
}

#articleTitle {
  margin: 10px;
}

//End of styling for the article page



#flexboxCardBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  position: absolute;
  bottom: 10px;
}

//weather

#flexbox1Card {
  padding: 0;
  margin: 0;
 
}

#flexbox2Card {
  padding: 0;
  color: grey;
}
#flexboxWeather {
  display: flex;
  flex-direction: row;

}
#temperature {
  margin-top: 5px;
}

#weatherMainBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//end of weather